---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1 style="text-align: center">home</h1>

<p style="text-align: center">welcome to my not-so-cozy homepage</p>
<p style="text-align: center">
  this page will mainly be used to list my projects
</p>

<p style="text-align: center">
  <a href="https://goose.lexisother.tk/nova.json">goosemod nova store</a>
</p>
<p style="text-align: center">
  <a href="https://github.com/lexisother/MonBot">discord bot</a>
</p>

{# {% set postslist = collections.posts | head(-3) %} {% include "postslist.njk"
%} #} {#
<p>
  More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.
</p>
#}
